@import 'primeicons/primeicons.css';

$color_1: #343a40;
$color_2: #495057;
$color_3: #4338CA;
$btn_color: #08b37d;

button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
}

.s-component {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: normal;
}

.s-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.s-button {
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  background: #08b37d;
  border: 1px solid #08b37d;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;

    &:hover {
        background-color: #06815a;
        color: #ffffff;
        border: 1px solid #08b37d;
    }

    .s-button-text {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: all 0.2s ease-in-out;
    }
}
.s-button-link {
  color: $btn_color;
  background: transparent;
  border: transparent;

  &:hover {
    background-color: transparent;
    text-decoration: underline;
    color: $btn_color;
    border: 0;
  }
}

.s-select-button {
  .s-button {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    color: #495057;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  }

  .s-highlight {
    background-color: #08b37d;
    color: #ffffff;
    border: 1px solid #08b37d;
  }
}

.s-button-set {
  .s-button {
    margin: 0;
  }
  :first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

    :last-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

  :not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
  }

  :not(:last-child) {
    border-right: 0;
  }
}


.s-datatable {
  border-spacing: 0;
  width: 100%;

  .s-column-header-content {
    display: flex;
    align-items: center;
  }

  .s-sortable-column {
    cursor: pointer;

    .s-sortable-column-icon {
      margin-left: 0.5rem;
    }
  }



  .s-datatable-gridlines {
    .s-datatable-tbody {
      >tr {
        >td {
          border-width: 1px;
        }
      }
    }
  }

  .s-datatable-head {
    >tr {
      .s-datatable-gridlines {
        border-right: 1px solid #dee2e6;
      }
      .s-datatable-small {
        padding: 0.5rem 0.5rem !important;
      }
      >th {
        text-align: left;
        padding: 1rem 1rem;
        border: 1px solid #dee2e6;
        border-width: 0 0 1px 0;
        font-weight: 700;
        color: $color_1;
        background: #f8f9fa;
        transition: box-shadow 0.2s;
      }
    }
  }
  .s-datatable-tbody {
    .s-datatable-row-selected {
      background: #EEF2FF !important;
      color: $color_3;
    }

    >tr {
      background: #ffffff;
      color: $color_2;
      transition: box-shadow 0.2s;
      &:nth-child(odd).s-datatable-row-striped {
        background: #fcfcfc;
      }

      >td {
        text-align: left;
        border-bottom: 1px solid #dee2e6;
        padding: 1rem 1rem;
      }
      .s-datatable-gridlines {
        border-right: 1px solid #dee2e6;
      }

      .s-datatable-small {
        padding: 0.5rem 0.5rem !important;
      }
    }

    >tr.s-datatable-row-selectable {
      &:hover {
        background: #e9ecef;
        color: $color_2;
        cursor: pointer;
      }
    }
  }
}
.header-container {
  display: flex;
  justify-content: flex-end;
  background: #f8f9fa;
  color: $color_1;
  border: 1px solid #dee2e6;
  border-width: 1px 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 700;
}



.s-paginator {
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  padding: 5px;
}

.s-paginator .s-paginator-first {
  color: #6c757d;
  min-width: 3rem;
  height: 3rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;cursor: pointer;
  text-align: center;
}

.s-paginator .s-paginator-first:hover {
  color: #343a40;
  background: #e9ecef;
}

.s-paginator .s-paginator-last {
  color: #6c757d;
  min-width: 3rem;
  height: 3rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;cursor: pointer;
  text-align: center;
}

.s-paginator .s-paginator-last:hover {
  color: #6c757d;
  min-width: 3rem;
  height: 3rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;cursor: pointer;
  text-align: center;
}

.s-paginator .s-paginator-prev {
  color: #6c757d;
  min-width: 3rem;
  height: 3rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;cursor: pointer;
  text-align: center;
}

.s-paginator .s-paginator-prev:hover {
  color: #6c757d;
  min-width: 3rem;
  height: 3rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;cursor: pointer;
  text-align: center;
}


.s-paginator .s-paginator-next {
  color: #6c757d;
  min-width: 3rem;
  height: 3rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;cursor: pointer;
  text-align: center;
}

.s-paginator .s-paginator-next:hover {
  color: #6c757d;
  min-width: 3rem;
  height: 3rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;cursor: pointer;
  text-align: center;
}


.s-paginator .s-paginator-pages .s-paginator-page {
  color: #6c757d;
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;cursor: pointer;
  text-align: center;
}

.s-paginator .s-paginator-pages .s-paginator-page:hover {
  color: #343a40;
  background: #e9ecef;
}

.s-highlight {
  background: #EEF2FF;
  border-color: #EEF2FF;
  color: #4338CA !important;
}
button {
  all: unset;
}
